parameters:
    excludePaths:
        analyseAndScan:
            - 'src/Router/JsonRpcHttpRouter.php'
            - 'src/Router/JsonRpcTcpRouter.php'
            - 'src/Scan/PropertyEnum.php'
            - 'src/JsonMapper.php'
            - 'src/Aspect/CoreMiddlewareAspect.php'