parameters:
    excludes_analyse:
        - 'src/Router/JsonRpcHttpRouter.php'
        - 'src/Router/JsonRpcTcpRouter.php'
        - 'src/Scan/PropertyEnum.php'
        - 'src/JsonMapper.php'
        - 'src/Serializer/ObjectDtoNormalizer.php'
        - 'src/Aspect/CoreMiddlewareAspect.php'